<div class="container">
  @if (productDetail) {

  <mat-card class="example-card">
    <img
      mat-card-image
      [src]="productDetail.image"
      [alt]="productDetail.title"
    />
    <mat-card-content>
      <p>
        {{ productDetail.description }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="pay()">
        Buy it for {{ productDetail.price | currency : "INR" }}!
      </button>
    </mat-card-actions>
  </mat-card>
  }@else {
  <div>Somthing Went Wrong</div>
  }
</div>
